/* $Id: blocks.css,v 1.10 2011/01/14 03:12:40 jmburnz Exp $ */

/**********************************************************
 *                       Blocks
 **********************************************************/
/**
 * Styles set for .block, .block-inner, block-title and 
 * .block-content will be inherited by all blocks.
 */
.block {
  clear: both;
  margin: 0 0 1.5em;
}

/**********************************************************
 *                   Block item-list
 **********************************************************/
.block .item-list ul {
  margin: 0;
}